* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f1e7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.registration-form-container, .login-form-container {
    background-color: #f5deb3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    color: #8b4513;
}

label {
    color: #8b4513;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #c8a165;
    border-radius: 5px;
}

button {
    background-color: #8b4513;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #d2b48c;
}

.toggle-button {
    margin-top: 15px;
    background-color: #d2b48c;
    color: #8b4513;
    font-size: 14px;
}

@media (max-width: 768px) {
    .form-container {
        width: 90%;
    }
}
